// Place all the styles related to the api::pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokepage {
  display: flex;
}

.thumbnail {
  height: 18px;
  width: 18px;
}

.pokeIndex {
  text-decoration: none;
}
